# Postgres (Banking DB)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_DB=banking

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=changeme

# Airflow DB
AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=changeme
AIRFLOW_DB_NAME=airflow
